<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> <<< .config.App.Name>>> | <<< .config.App.Description >>></title>
	<!-- <link rel="stylesheet" href="/static/tailwindcss.css"> -->
</head>
<body>
	<div>
		<h1 class="text-3xl font-bold underline text-clifford">
			Hello world!
		</h1>
	</div>
	<div id="app">
		{{ message }}
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="/static/index.js">

</script>
</html>